$background: white;
$primary: #0B2E00;
$secondary: #93e879; 
$gray: #2f2f2f;
$light-gray: #aaaaaa;
$x-light-gray: #dddddd;
$dark-gray: #1f1f1f;
$dark-red: #550000;
$light-red: #ff8d8d;
$dark-purple: #22003a;
$light-purple: #b650ff;

$transition-time: .3s;