@import '../../vars';

:host {
    background-color: $gray;
    color: white;

    padding: 0 8px 8px;

    display: flex;
    flex-direction: column;
}

h1 {
    margin-bottom: 4px;

    &:hover {
        cursor: pointer;
    }
}

.configs {
    flex-grow: 1;

    display: flex;
    flex-direction: column;
    gap: .2em 0;

    border-top: 1px solid $light-gray;

    padding-top: .2em;

    a {
        padding-left: 4px;
        font-size: 1.2em;

        transition: background-color $transition-time, color $transition-time;

        &.selected {
            font-weight: bolder;
            font-style: italic;
            color: $secondary;
        }

        &:hover {
            background-color: white;
            color: $dark-gray;

            cursor: pointer;
        }
    }
}