@import '../../vars';

:host {
    color: $dark-gray;
    border-right: 1px solid $primary;

    padding: 0 8px;
}

h1 {
    margin-bottom: 4px;
}

.configs {
    display: flex;
    flex-direction: column;
    gap: .2em 0;

    border-top: 1px solid $light-gray;

    padding-top: .2em;

    a {
        padding-left: 4px;
        font-size: 1.2em;

        transition: background-color $transition-time, color $transition-time;

        &.selected {
            font-weight: bolder;
            font-style: italic;
        }

        &:hover {
            background-color: $secondary;
            color: $primary;

            cursor: pointer;
        }
    }
}