<div class="editors">
    <div class="time">
        <div class="editor">
            <h4>
                Stunde
            </h4>
            <app-specifier-editor></app-specifier-editor>
        </div>
        <div class="editor">
            <h4>
                Minute
            </h4>
            <app-specifier-editor></app-specifier-editor>
        </div>
    </div>
    <div class="date">
        <div class="editor">
            <h4>
                Wochentag
            </h4>
            <app-specifier-editor></app-specifier-editor>
        </div>
        <div class="editor">
            <h4>
                Monatstag
            </h4>
            <app-specifier-editor></app-specifier-editor>
        </div>
        <div class="editor">
            <h4>
                Jahreswoche
            </h4>
            <app-specifier-editor></app-specifier-editor>
        </div>
        <div class="editor">
            <h4>
                Monat
            </h4>
            <app-specifier-editor></app-specifier-editor>
        </div>
    </div>
</div>