@import "../../vars";

:host {
    position: fixed;
    bottom: 0;

    width: 100%;
}

.banner {
    position: absolute;

    bottom: 2em;
    left: 50%;
    transform: translateX(-50%);

    padding: 0.5em 1em;
    border-radius: 8px;
    border-width: 2px;
    border-style: solid;

    font-size: 1.1em;

    box-shadow: 2px 4px 8px #000000aa;

    transition: bottom $transition-time;

    &.hidden {
        bottom: -10em;
    }

    .type {
        font-weight: bolder;

        margin-right: 8px;

        &::after {
            content: ":";
        }
    }

    &.info {
        background-color: rgb(170, 255, 170);
        color: rgb(0, 70, 0);
        border-color: rgb(0, 101, 0);
    }

    &.error {
        background-color: rgb(255, 170, 170);
        color: rgb(70, 0, 0);
        border-color: rgb(101, 0, 0);
    }
}
